* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.job-modal-link {
  text-decoration: none;
  color: inherit
}

signin-modal-link {
  text-decoration: none;
  color: inherit
}

.sign-in-text {
  text-decoration: none;
}