* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.routes-component {
  border: 1px solid green,
  
}